@import url("https://fonts.googleapis.com/css?family=PT+Sans:400|Bebas+Neue:400");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* colors */
  --primary-100: #d8f7f6;
  --primary-200: #b1efec;
  --primary-300: #8be6e3;
  --primary-400: #64ded9;
  --primary-500: #3dd6d0;
  --primary-600: #31aba6;
  --primary-700: #25807d;
  --primary-800: #185653;
  --primary-900: #0c2b2a;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  /* btn-bgcolors */
  --btn-bg-color-primary: #64ded9;
  --btn-bg-color-secondry: #b1efec;
  /* rest of vars */
  --BackGroundColor: #f1f5f9;
  --backGroundColorMain: var(--primary-100);
  --max-width: 1600px;
  --box-shadow: 0px 10px 44px -7px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
} /*16px*/

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: clamp(3rem, 7vw, 5.052rem);
}

h2 {
  font-size: 2.441rem;
  font-size: clamp(2rem, 5vw, 3.052rem);
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}
p {
  font-size: clamp(12px, 1vw, 16px);
}
button {
  padding: 10px;
  cursor: pointer;
  width: auto;
  background-color: var(--btn-bg-color-primary);
  border: 0;
  outline: 0;
  font-weight: 700;
  font-size: clamp(12px, 1vw, 16px);
  border: 1px solid transparent;
}
input {
  border: 0;
  outline: 0;
  font-size: clamp(12px, 1vw, 16px);
  padding: 10px;
  padding-left: 20px;
  font-weight: 700;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--primary-900);
}
a:hover {
  color: var(--btn-bg-color-primary);
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}

::selection {
  color: var(--primary-500);
  background-color: var(--white);
}
/* CSS */
.container {
  position: relative;
  background-color: var(--BackGroundColor);
  min-width: 100vw;
  min-height: 100vh;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}
.link {
  padding: 10px;
}
.active {
  color: var(--primary-100);
  background-color: var(--primary-500) !important;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-btn {
  transition: all 0.4s;
}
.main-btn:hover {
  color: var(--primary-100);
  background-color: transparent;
  border-color: var(--btn-bg-color-primary);
}
.link-margin {
  margin-bottom: 10px;
}
/* .background-container {
  background: url(./assets/background-hero.jpg) center/cover no-repeat;
} */
